$--color-primary = #17B3A3
// navbar
$navbar--background-color = #17B3A3
// Sidebar
$sidebar--background-color-dark = rgba(44, 239, 255, 0.5)
$sidebar--color-text-dark = #fff
$main--background-color = #f1f4f5
